h1 {
    color: #6366f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 2rem;
    background-color: #a78bfa;
}


.btn-register {
    padding: 16px 36px;
    font-size: 1.1rem;
    color: #fff;
    background: linear-gradient(90deg, #6366f1, #a78bfa);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 25px rgba(99, 102, 241, 0.3);
}
div.contenido {
    display: none;
  }
  #spoiler:checked + label + .contenido {
    display: block;
  }
  .btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  body {
      height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background-color 0.4s;   /* animación suave */
      font-family: Arial, sans-serif;
    }

    .botones {
      margin-top: 40px;
      display: flex;
      gap: 15px;
    }

    button {
      padding: 14px 28px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      color: rgb(245, 243, 243);
      transition: transform 0.1s;
    }

    button:hover {
      transform: scale(1.08);
    }

    button:active {
      transform: scale(0.97);
    }


    button[myColor="red"] {
      background-color: red;
    }
    button[myColor="blue"] {
      background-color: blue;
    }
    button[myColor="green"] {
      background-color: green;
    }
    button[myColor="purple"] {
      background-color: purple;
    }
    button[myColor="black"] {
      background-color: black;
    }
    /*
    style="background: #982e2e;">Rojo
    style="background: #2f4b68;">Azul
    style="background: #438b43;">Verde
    style="background: #68458a;">Lila
    style="background: #130101; color:#fff;">negro*/